body {
    background-color: #ffffff;
}
  
.row {
    display: flex;
    padding: 5px;
}
  
.column {
    flex: 50%;
    padding: 5px;
}

#column1 {
    background-color:#aaa;
}

#column2 {
    background-color:#bbb;;
}